# !! NEVER commit your cookies !!
instagram_cookies.txt
cookies.txt

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/
dist/
build/

# Whisper model cache
.cache/

# OS
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/
